*{
    margin:0px;
    padding:0px;
    font-family: 'Montserrat';
    overflow-x: hidden;
    text-align: center;
    word-wrap: break-word;
    scroll-behavior: smooth;
}
header{
    background-color: rgb(255,255,255);
    padding:20px;
    width: 70vw;
    display: flex;
    gap:10px;
    box-shadow: 0px 0px 200px rgba(20, 20, 20);
    margin-top: 2vh;
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    position: fixed;
    left:15vw;
    mix-blend-mode:difference;
}
header h1{
    mix-blend-mode: difference;
    color:white;
}
header a{
    text-decoration: none;
    color:black;
}
section{
    width:100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section:nth-child(even){
    background-color: rgb(30,30,30);
}
section h1,section p{
    color:black;
    mix-blend-mode: add;
}

section div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5em;
    width:50vw;
    height:50vh;
    overflow: visible;
    background:linear-gradient(45deg, rgb(255, 106, 106), rgb(255, 166, 106));
}
section div:nth-child(1) div{
    border-radius: inherit;
    width:37.5%;
    height:75%;
    background-color: white;
    position: relative;
    top:20%;
    left:25%;
}
h1{
    font-size: 2em;
}
p{
    font-size: 1.5em;
}
section:nth-child(4){
    background:linear-gradient(120deg,rgb(32 103 159),rgb(28 137 129));
    height: fit-content;
}
section div:nth-child(2){
    width:75vw;
    height:fit-content;
    background-color: white;
    border:solid whitesmoke 10px;
    border-radius: 25px;
}
a{
    text-decoration: none;
}
#team h1{
    color:white;
}
