*{
    font-family: 'Poppins';
    margin:0px;
    padding:0px;
}
body{
    overflow-x: hidden;
}
section{
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color:white;
    transform: translateX(0%);
}
section div{
    display:inherit;
    flex-direction: row;
}
section div div{
    display:inherit;
    flex-direction: column;
}
section:nth-child(1){
    background-color: rgb(0, 5, 31);
    font-size: 3em;
}
section:nth-child(2){
    background: rgb(0,122,59);
    height:calc(100vh+100);
    font-size: 2em;
    text-align: left;
}

section:nth-child(3){
    background:rgb(0,128,128);
    font-size: 2em;
}
section:nth-child(4){
    color:black;
    font-size: 2em;
    opacity: 1;
}
section:nth-child(5){
    position: absolute;
    top:0px;
    position:fixed;
    background-color: black;
    opacity: 0.1;
    z-index:-1;
}
.turnTable{
    gap:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition:250ms opacity ease-out;
}
.turnTable:hover{
    opacity: 1;
}
.turnTable div{
    background-color: white;
    padding:5px;
    box-shadow: 5px 5px 5px rgb(212, 211, 211);
    height:fit-content;
}
#item1{
    opacity: 1;
}
#item2{
    opacity: 1;
    transform: translateX(-100);
}
img{
    width:400px;
    height:auto;
}
.custom-shape-divider-top-1682637766 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1682637766 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 63px;
}

.custom-shape-divider-top-1682637766 .shape-fill {
    fill: #00051F;
}
.custom-shape-divider-bottom-1682637914 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1682637914 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 204px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1682637914 .shape-fill {
    fill: rgb(0,128,128);;
}
.custom-shape-divider-bottom-1682638975 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1682638975 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 96px;
}

.custom-shape-divider-bottom-1682638975 .shape-fill {
    fill: #FFFFFF;
}
footer{
    display:flex;
    background-color:rgb(0,128,128);
    color:white;
    gap:1em;
    align-items: center;
    justify-content: center;
}
